{% extends 'base.html' %}

{% block head %}
<title>login</title>
<link rel="stylesheet" href="/static/css/auth.css">
{% endblock %}

{% block content %}
<form class="fields_container" autocomplete="off" method=post>
    <a class="main_header">enter <span class="highlighted">Trackify</span></a>
    username
    <input type="text" name="username" class="field" />
    password
    <input type="password" name="password" class="field" />
    <input type=submit class="button" value="log in" />
    {% for message in get_flashed_messages() %}
    <a class="error_message">{{ message }}</a>
    {% endfor %}
    <div>dont have an account?: <a href="{{ url_for('auth.register') }}">register</a></div>
</form>
{% endblock %}
