<!doctype html>
<html>
    <head>
        <script src="/static/js/base.js"></script>
        {% block head %}
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="icon" href="/static/favicon.png" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="topnav" id="topnav">
            {% if g.user %}
            <a href="{{ url_for('home.index') }}" class="active">{{ g.user.username }}</a>
            {% else %}
            <a href="{{ url_for('home.index') }}" class="active">Home</a>
            {% endif %}
            <a href="{{ url_for('spotify.top_users') }}">Top Users</a>
            {% if g.user %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
            <a href="javascript:void(0);" class="icon" onclick="navbarFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="content_container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
