{% extends 'base.html' %}

{% block head %}
<title>Trackify data</title>
<link rel="stylesheet" href="/static/css/data.css">
{% endblock %}

{% block content %}
<div class="main_container"> <!-- used this to center the stats_container div -->
    <div class="stats_container">
        <div class="top_entries_container">
            <a class="top_entry_title">top tracks</a>
            <table>
                <tr>
                    <th></th>
                    <th>track</th>
                    <th>time</th>
                </tr>
                {% for track in top_tracks %}
                <tr>
                    <td class="centered">
                        {{ loop.index }}
                    </td>
                    <td>
                        <div class="top_entry">
                            <img style="width:50px;height:50px;" alt="img" src="{{ track.album.images[0].url }}">
                            <div class="info">
                                <span class="highlighted">{{ track.name }}</span>
                                <a>{{ track.artists[0].name }}</a>
                            </div>
                        </div>
                    </td>
                    <td class="centered">
                        {% if track.listened_ms %}
                        <div class="time_container">
                            {% if hrs_from_ms(track.listened_ms) %}
                            <a>{{ hrs_from_ms(track.listened_ms) }} hrs</a>
                            {% endif %}
                            {% if mins_from_ms(track.listened_ms) %}
                            <a>{{ mins_from_ms(track.listened_ms) }} mins</a>
                            {% endif %}
                            {% if secs_from_ms(track.listened_ms) %}
                            <a>{{ secs_from_ms(track.listened_ms) }} secs</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="top_entries_container">
            <a class="top_entry_title">top albums</a>
            <table>
                <tr>
                    <td></th>
                    <th>album</th>
                    <th>time</th>
                </tr>
                {% for album in top_albums %}
                <tr>
                    <td class="centered">{{ loop.index }}</td>
                    <td>
                        <div class="top_entry">
                            <img style="width:50px;height:50px;" alt="img" src="{{ album.images[0].url }}">
                            <div class="info">
                                <span class="highlighted">{{ album.name }}</span>
                                <a>{{ album.artists[0].name }}</a>
                            </div>
                        </div>
                    </td>
                    <td class="centered">
                        {% if album.listened_ms %}
                        <div class="time_container">
                            {% if hrs_from_ms(album.listened_ms) %}
                            <a>{{ hrs_from_ms(album.listened_ms) }} hrs</a>
                            {% endif %}
                            {% if mins_from_ms(album.listened_ms) %}
                            <a>{{ mins_from_ms(album.listened_ms) }} mins</a>
                            {% endif %}
                            {% if secs_from_ms(album.listened_ms) %}
                            <a>{{ secs_from_ms(album.listened_ms) }} secs</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="top_entries_container">
            <a class="top_entry_title">top artists</a>
            <table>
                <tr>
                    <th></th>
                    <th>artist</th>
                    <th>time</th>
                </tr>
                {% for artist in top_artists %}
                <tr>
                    <td class="centered">
                        {{ loop.index }}
                    </td>
                    <td>
                        <div class="top_entry">
                            {% if artist.albums %}
                            <img style="width:50px;height:50px;" alt="img" src="{{ artist.albums[0].images[0].url }}">
                            {% endif %}
                            <div class="info">
                                <span class="highlighted">{{ artist.name }}</span>
                            </div>
                        </div>
                    </td>
                    <td class="centered">
                        {% if artist.listened_ms %}
                        <div class="time_container">
                            {% if hrs_from_ms(artist.listened_ms) %}
                            <a>{{ hrs_from_ms(artist.listened_ms) }} hrs</a>
                            {% endif %}
                            {% if mins_from_ms(artist.listened_ms) %}
                            <a>{{ mins_from_ms(artist.listened_ms) }} mins</a>
                            {% endif %}
                            {% if secs_from_ms(artist.listened_ms) %}
                            <a>{{ secs_from_ms(artist.listened_ms) }} secs</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
