{% extends 'base.html' %}

{% block head %}
<title>Trackify data</title>
<link rel="stylesheet" href="/static/css/data.css">
{% endblock %}

{% block content %}
<div class="stats_container">
    <div class="top_entries_container">
        <a class="top_entry_title">top tracks</a>
        <table>
            <tr>
                <th>rank</th>
                <th>track</th>
                <th>time</th>
            </tr>
            {% for track in top_tracks %}
            <tr>
                <td>
                    1
                </td>
                <td>
                    <div class="top_entry">
                        <img style="width:65px;height:65px;" alt="img" src="{{ track.album.images[0].url }}">
                        <div class="info">
                            <span style="color: rgb(242, 93, 93)">{{ track.name }}</span>
                            <a>{{ track.artists[0].name }}</a>
                        </div>
                    </div>
                </td>
                <td>
                    <a>123</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="top_entries_container">
        <a class="top_entry_title">top albums</a>
        <table>
            <tr>
                <th>rank</th>
                <th>track</th>
                <th>time</th>
            </tr>
            {% for album in top_albums %}
            <tr>
                <td>
                    1
                </td>
                <td>
                    <div class="top_entry">
                        <img style="width:65px;height:65px;" alt="img" src="{{ album.images[0].url }}">
                        <div class="info">
                            <span style="color: rgb(242, 93, 93)">{{ album.name }}</span>
                            <a>{{ album.artists[0].name }}</a>
                        </div>
                    </div>
                </td>
                <td>
                    <a>123</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="top_entries_container">
        <a class="top_entry_title">top artists</a>
        <table>
            <tr>
                <th>rank</th>
                <th>artist</th>
                <th>time</th>
            </tr>
            {% for artist in top_artists %}
            <tr>
                <td>
                    1
                </td>
                <td>
                    <div class="top_entry">
                        {% if artist.albums %}
                        <img style="width:65px;height:65px;" alt="img" src="{{ artist.albums[0].images[0].url }}">
                        {% endif %}
                        <div class="info">
                            <span style="color: rgb(242, 93, 93)">{{ artist.name }}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <a>123</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
