{% extends 'base.html' %}

{% block head %}
<title>Trackify top users</title>
<link rel="stylesheet" href="/static/css/top_users.css">
{% endblock %}

{% block content %}
<input type=hidden id="navbar_value" value="Top Users">
<div class="main_container"> <!-- used to center table_container -->
    <div class="table_container">
        <a class="table_title highlighted">top users</a>
        <form class="controls">
            {% for hrs,time in {24: "past day", 168: "past week", 0: "all time"}.items() %}
            {% if hrs == hrs_limit %}
            <button name="time_limit" type="submit" value="{{ hrs }}" class="general_button highlighted">{{ time }}</button>
            {% else %}
            <button name="time_limit" type="submit" value="{{ hrs }}" class="general_button">{{ time }}</button>
            {% endif %}
            {% endfor %}
        </form>
        <table>
            <tr>
                <th>user</th>
                <th>time</th>
                <th>fav. track</th>
            </tr>
            {% for user in top_users %}
            <tr>
                <td class="centered">
                    <a class="highlighted centered">{{ user.username }}</a>
                </td>
                <td class="centered">
                    <div class="time_container">
                        {% if hrs_from_ms(user.listened_ms) %}
                        <a>{{ hrs_from_ms(user.listened_ms) }} hrs</a>
                        {% endif %}
                        {% if mins_from_ms(user.listened_ms) %}
                        <a>{{ mins_from_ms(user.listened_ms) }} mins</a>
                        {% endif %}
                        {% if secs_from_ms(user.listened_ms) %}
                        <a>{{ secs_from_ms(user.listened_ms) }} secs</a>
                        {% endif %}
                    </div>
                </td>
                {% if user.show_favorite_track and user.top_track.listened_ms %}
                <td>
                    <div class="top_track">
                        <img style="width:50px;height:50px;" src="{{ user.top_track.album.images[0].url }}"></img>
                        <div class="top_track_title">
                            <a class="highlighted">{{ user.top_track.name }}</a>
                            <a>{{ user.top_track.artists[0].name }}</a>
                        </div>
                    </div>
                </td>
                {% else %}
                <td class="crossed">not showing</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
