div.stats_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 95%;
}

div.main_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

div.top_entry {
    display: flex;
    flex-flow: row nowrap;
}

div.info {
    margin-left: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    max-width: 400px;
}

div.top_entries_container {
    display: flex;
    flex-flow: column nowrap;
}

a.top_entry_title {
    color: rgb(242, 93, 93);
    align-self: center;
    font-size: 25px;
    margin-bottom: 10px;
}

div.display_options {
    padding-top: 10px;
}

form.controls {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    align-items: center;
}
form.controls div {
    margin: 3px;
}
form.controls select {
    background: #222;
    outline: none;
    height: 30px;
    font-size: 21px;
    border-color: rgb(242, 93, 93);
    border-width: 1px;
}

table {
    padding-bottom: 15px;
}

