div.top_artists_container {
    position: relative;
    margin: auto;
    max-width: 850px;
}

div.top_artists {
    height: 450px;
}

img.top_artist {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    animation: zoom_in 1s ease
}

.top_artists_header {
    padding-top: 15px;
}

@media screen and (max-width: 800px) {
    div.top_artists {
        height: 550px;
    }
}

.top_tracks_and_play_counter_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 400px;
}

.top_track {
    border: 1px solid #111111;
    background-color: #222222;
    margin-top: 5px;
    height: 60px;
    display: flex;
}

.top_track img {
    height: 100%;
}

.top_tracks_header {
    padding-bottom: 20px;
}

.top_track_desc {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding-left: 5px;
    width: 400px;
}

.play_counter_container {
    height: 100%;
    text-align: center;
}

.play_counter {
    font-size: 60px;
    display: block;
    height: 100%;
    padding-top: 40px;
}
